body
{ background-color:#333333}
p.border1
{
	background-color:#009900;
	text-align:center;
	font-size:30px;
	color:white;
	border:10px double lime;
}
p.border2
{
	background-color:#992600;
	text-align:center;
	font-size:30px;
	color:white;
	border:10px dotted yellow;
}
p.border3
{
	background-color:#006600;
	text-align:center;
	font-size:30px;
	color:white;
	border:10px outset yellow;
}
p.border4
{
	background-color:#0000b3;
	text-align:center;
	font-size:30px;
	color:white;
	border:10px inset #1a8cff;
}
p.border5
{
	background-color:#004d00;
	text-align:center;
	font-size:30px;
	color:white;
	border:10px groove #ffffcc;
}
p.border6
{
	background-color:#b32400;
	text-align:center;
	font-size:30px;
	color:white;
	border:10px solid #cccccc;
}